.map {
    width: 70%;
    height: 500px;
    margin: 10% auto;
    box-shadow: 0 0 40px -10px black;
    background: rgb(240, 240, 240);
    font-family: 'Montserrat', sans-serif;
    max-width: calc(100vw - 60px)
  }
  
  #map {
    width: 65%;
    height: 100%;
    display: inline-block

  }
  
  .map-c {
    float: right;
    width: 35%;
    height: 100%;
    padding: 25px;
    box-sizing: border-box;
    font-size: 13px;
    color: #757575;
  }
  iframe{
    width: 100%;
    height: 100%;
  }
  
  h1 {
    margin: 0;
    font-weight: normal;
    color: rgb(60, 60, 70);
    font-size: 28px;
    margin-bottom: 5%;
  }
  
  p {
    font-size: 13px;
    margin-bottom: 5%;
  }
  
  .det {
    font-size: 12px;
    margin-bottom: 15px
  }
  
  i {
    float: left;
    font-size: 18px !important;
    margin: 0 8px 0 0
  }
  
  .map-c a {
    color: #757575;
    margin-bottom: 5%;
  }
li {
  margin-bottom: 2%;
}
legend {
  padding: 3%;
}
fieldset {
  background-color: transparent;
  border-color: #2196f3;
}
  
  @media only screen and (max-width: 720px) {
    .map {
      height: 600px;
      margin: calc(50vh - 225px) auto;
      overflow: hidden
    }
    #map {
      width: 100%;
      height: 200px;
    }
    .map-c {
      float: right;
      width: 100%;
    }
    
  }
  
  @media only screen and (max-width: 460px) {
    p {
      display: none
    }
    h1 {
      margin-bottom:20px
    }
    .det {
      margin-bottom: 9px
    }
  }